DB_NAME=xyz
DB_USER=xyz
DB_PASS=xyz
DB_HOST=xyz
DB_PORT=xyz
DJANGO_SECRET_KEY=zyx
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,.com.au
ACCEPT_EULA=Y
SA_PASSWORD=xyz
DEBUG=1
STRIPE_SECRET_KEY=YourKey
STRIPE_PUBLIC_KEY=YourKey
REDIRECT_DOMAIN=https://yourdomain.com
ENCRYPTION_KEY=xyz-S9oq3yo-8so5cQAE=