DB_NAME=TopHat
DB_USER=sa
DB_PASS=qwerty!0
DB_HOST=db
DB_PORT=1434
DJANGO_SECRET_KEY=24c8e50631ec4651b29edcba10cdf350
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,tophatcoffee.com.au,162.0.213.111
ACCEPT_EULA=Y
SA_PASSWORD=qwerty!0
DEBUG=1
STRIPE_SECRET_KEY=YourKey
STRIPE_PUBLIC_KEY=YourKey
REDIRECT_DOMAIN=https://yourdomain.com
ENCRYPTION_KEY=MZwivGFYPtgE3Zl6kjKISrw_zN-S9oq3yo-8so5cQAE=